{% extends 'list.html' %}
{% load i18n %}

{% block breadcrumbds %}
{{ block.super }}
<li class="breadcrumb-item active" aria-current="page">{% translate "Channels" %}</li>
{% endblock breadcrumbds %}

{% block list-actions %}
<div class="dropdown mt-4">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="newChannel" data-bs-toggle="dropdown" aria-expanded="false">
    {% translate "New channel" %}
    </button>
    <ul class="dropdown-menu" aria-labelledby="newChannel">
        {% for content_type in new_channel_forms.keys %}
            <li>
                <a class="dropdown-item" data-bs-toggle="modal" href="#modal-add-{{ content_type.model }}">
                    {{ content_type.name|title }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock list-actions %}

{% block colgroup %}<col class="col-7"><col class="col-3"><col class="col-2">{% endblock colgroup %}

{% block thead-tr %}<th>{% translate "Name" %}</th><th>{% translate "Type" %}</th>{% endblock thead-tr %}

{% block object-tr %}
<td>
    <a href="#" title="{% translate 'View' %}" class="text-decoration-none">
        {{ object }}   
    </a>
</td>
<td>{{ object.content_type.name }}</td>
{% endblock object-tr %}

{% block object-actions %}
 <a href="" title="{% translate 'Edit' %}" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modal-edit-{{ object.pk }}">
    {% translate "Edit" %}
</a>
<button title="{% translate 'Remove' %}" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#delete-{{ object.pk }}" type="button">
    {% translate "Delete" %}
</button>
{% endblock object-actions %}

{% block empty-tr %}<td colspan="3" class="text-center fst-italic">{% translate "No channels found" %}</td>{% endblock empty-tr %}

{% block body-content %}
{{ block.super }}

{% for content_type, form in new_channel_forms.items %}
<form method="post" 
	action="{% url 'configuration:channel_create' content_type.model %}"
    id="modal-add-{{ content_type.model }}" 
  	aria-labelledby="modal-new-{{ content_type.model }}-title"
  	class="modal {{ content_type.model }}" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog modal-xl">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="modal-new-{{ content_type.model }}-title">
	            {% blocktranslate with name=content_type.name %}Add {{ name }}{% endblocktranslate %}
	        </h5>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% translate 'Close' %}"></button>
	      </div>
          <div class="modal-body">{% include "configuration/channels/"|add:content_type.model|add:".html" %}</div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% translate "Cancel" %}</button>
	        <button type="submit" class="btn btn-primary">{% translate "Save" %}</button>
	      </div>
	    </div>
  	</div>
    {% csrf_token %}
</form>
{% endfor %}
{% for form in channel_forms %}
<form method="post" 
    action="{% url 'configuration:channel_update' form.instance.pk %}"
    id="modal-edit-{{ form.instance.pk }}" 
    aria-labelledby="modal-edit-{{ form.instance.pk }}-title"
    class="modal {{ form.instance.content_type.model }}" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modal-edit-{{ form.instance.pk }}-title">
                {% blocktranslate with type=form.instance.content_type.name %}Edit channel {{ form.instance.name }}{% endblocktranslate %}
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% translate 'Close' %}"></button>
          </div>
          <div class="modal-body">{% include "configuration/channels/"|add:form.instance.content_type.model|add:".html" %}</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% translate "Cancel" %}</button>
            <button type="submit" class="btn btn-primary">{% translate "Update" %}</button>
          </div>
        </div>
    </div>
    {% csrf_token %}
</form>

{% url 'configuration:channel_remove' form.instance.pk as delete_url %}
{% with id_slug=form.instance.pk|slugify %}
{% include 'modal_delete.html' with object=form.instance modal_id='delete-'|add:id_slug %}
{% endwith %}
{% endfor %}
{% endblock body-content %}