{% extends 'base.html' %}
{% load i18n %}


{% block breadcrumbds %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">{% translate "Home" %}</a></li>
<li class="breadcrumb-item active" aria-current="page">{% translate "Channels" %}</li>
{% endblock breadcrumbds %}

{% block body-content %}
{{ block.super }}
<div class="container">
	<div class="dropdown mt-4">
		<button class="btn btn-secondary dropdown-toggle" type="button" id="newChannel" data-bs-toggle="dropdown" aria-expanded="false">
		{% translate "New channel" %}
		</button>
  		<ul class="dropdown-menu" aria-labelledby="newChannel">
		    {% for content_type in new_channel_forms.keys %}
                <li>
                    <a class="dropdown-item" data-bs-toggle="modal" href="#modal-add-{{ content_type.model }}">
                        {{ content_type.name|title }}
                    </a>
                </li>
		    {% endfor %}
		</ul>
	</div>
	<div class="table-responsive">
		<table class="table table-hover">
            <colgroup>
                <col class="col-7">
                <col class="col-3">
                <col class="col-2">
            </colgroup>
            <thead>
                <tr>
                    <td>{% translate "Name" %}</td>
                    <td>{% translate "Type" %}</td>
                    <td></td>
                </tr>
            </thead>
			<tbody>
    			{% for channel in object_list %}
    			<tr>
    				<td>
    					<a href="#" title="{% translate 'View' %}" class="text-decoration-none">
    						{{ channel }}	
    					</a>
    				</td>
                    <td>{{ channel.content_type.name }}</td>
    				<td class="text-nowrap text-end">
                        <div class="btn-group" role="group" aria-label="{% translate 'Actions' %}">
                            <a href="" title="{% translate 'Edit' %}" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modal-edit-{{ channel.pk }}">
                                {% translate "Edit" %}
                            </a>
                            <button title="{% translate 'Remove' %}" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#modal-delete-{{ channel.pk }}" type="button">
                                {% translate "Delete" %}
                            </button>
                        </div>
    				</td>
    			</tr>
    			{% endfor %}
    		</tbody>
		</table>
	</div>
</div>
{% for content_type, form in new_channel_forms.items %}
<form method="post" 
	action="{% url 'configuration:channel_create' content_type.model %}"
    id="modal-add-{{ content_type.model }}" 
  	aria-labelledby="modal-new-{{ content_type.model }}-title"
  	class="modal {{ content_type.model }}" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog modal-xl">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="modal-new-{{ content_type.model }}-title">
	            {% blocktranslate with name=content_type.name %}Add {{ name }}{% endblocktranslate %}
	        </h5>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% translate 'Close' %}"></button>
	      </div>
          <div class="modal-body">{% include "configuration/channels/"|add:content_type.model|add:".html" %}</div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% translate "Cancel" %}</button>
	        <button type="submit" class="btn btn-primary">{% translate "Save" %}</button>
	      </div>
	    </div>
  	</div>
    {% csrf_token %}
</form>
{% endfor %}
{% for form in channel_forms %}
<form method="post" 
    action="{% url 'configuration:channel_update' form.instance.pk %}"
    id="modal-edit-{{ form.instance.pk }}" 
    aria-labelledby="modal-edit-{{ form.instance.pk }}-title"
    class="modal {{ form.instance.content_type.model }}" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modal-edit-{{ form.instance.pk }}-title">
                {% blocktranslate with type=form.instance.content_type.name %}Edit channel {{ form.instance.name }}{% endblocktranslate %}
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% translate 'Close' %}"></button>
          </div>
          <div class="modal-body">{% include "configuration/channels/"|add:form.instance.content_type.model|add:".html" %}</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% translate "Cancel" %}</button>
            <button type="submit" class="btn btn-primary">{% translate "Update" %}</button>
          </div>
        </div>
    </div>
    {% csrf_token %}
</form>
<form method="post" 
    action="{% url 'configuration:channel_remove' form.instance.pk %}"
    id="modal-delete-{{ form.instance.pk }}" 
    aria-labelledby="modal-delete-{{ form.instance.pk }}-title"
    class="modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modal-delete-{{ form.instance.pk }}-title">
                {% blocktranslate %}Remove channel {{ form.instance.name }}{% endblocktranslate %}
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% translate 'Close' %}"></button>
          </div>
          <div class="modal-body">
              {% translate "Are you sure?" %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% translate "Cancel" %}</button>
            <button type="submit" class="btn btn-danger">{% translate "Delete" %}</button>
          </div>
        </div>
    </div>
    {% csrf_token %}
</form>
{% endfor %}
{% endblock body-content %}