{% load i18n django_bootstrap5 %}
<form class="modal" id="modal-add-{{ type }}" tabindex="-1" aria-labelledby="modal-add-{{ type }}-title" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-add-{{ type }}-title">
            {% blocktranslate %}Add delay step{% endblocktranslate %}
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% translate 'Close' %}"></button>
      </div>
      <div class="modal-body">
       	{% bootstrap_form form %} 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</form>