{% load i18n django_bootstrap5 %}
{% bootstrap_field form.subject %}
<ul class="nav nav-tabs" id="tabs-{{ form.instance.pk|default:'new' }}" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="tab-html-{{ form.instance.pk|default:'new' }}" data-bs-toggle="tab" data-bs-target="#html-{{ form.instance.pk|default:'new' }}" type="button" role="tab" aria-controls="html-{{ form.instance.pk|default:'new' }}" aria-selected="true">{% translate "HTML" %}</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="tab-text-{{ form.instance.pk|default:'new' }}" data-bs-toggle="tab" data-bs-target="#text-{{ form.instance.pk|default:'new' }}" type="button" role="tab" aria-controls="text-{{ form.instance.pk|default:'new' }}" aria-selected="false">{% translate "Text" %}</button>
  </li>
</ul>
<div class="tab-content pt-1" id="tabs-content-{{ form.instance.pk|default:'new' }}">
  <div class="tab-pane  active" id="html-{{ form.instance.pk|default:'new' }}" role="tabpanel" aria-labelledby="tab-html-{{ form.instance.pk|default:'new' }}">
  	<div class="row">
      <div class="col-lg-6">
        {% bootstrap_field form.html_body %}
      </div>
      <div class="col-lg-6 d-flex flex-column">
        <p class="mb-2">{% translate "Message preview" %}</p>
        <output class="w-100 border rounded mb-3 flex-grow-1 d-flex align-items-stretch" for="{{ form.html_body.id_for_label }}">
          <iframe class="w-100" srcdoc="{{ form.html_body.value|default:'' }}" data-render-mail-url="{% url 'flows:render_mail' current_environment.slug %}"></iframe>  
        </output>
      </div>
    </div>
  </div>
  <div class="tab-pane" id="text-{{ form.instance.pk|default:'new' }}" role="tabpanel" aria-labelledby="tab-text-{{ form.instance.pk|default:'new' }}">
    <div class="row">
      <div class="col-lg-6">
        {% bootstrap_field form.text_body %}
      </div>
      <div class="col-lg-6 d-flex flex-column">
        <p class="mb-2">{% translate "Message preview" %}</p>
        <output class="w-100 border rounded mb-3 flex-grow-1 d-flex align-items-stretch" for="{{ form.text_body.id_for_label }}">
          <iframe class="w-100" srcdoc="{{ form.text_body.value|default:'' }}" data-render-mail-url="{% url 'flows:render_mail' current_environment.slug %}"></iframe>  
        </output>
      </div>
    </div>
  	{% bootstrap_field form.autogenerate_text %}
  </div>
  {% bootstrap_field form.testing_context %}
</div>