{% load i18n django_bootstrap5 %}
{% bootstrap_field form.title %}
<p class="mb-2">{% translate "Title preview" %}</p>
<output class="w-100 border rounded mb-3 p-2" for="{{ form.title.id_for_label }}"
  hx-post="{% url 'flows:preview' current_environment.slug flow.id %}" 
  hx-trigger="keyup delay:500ms from:#{{ form.title.id_for_label }}, load from:document, change from:#{{ form.title.id_for_label }}, reset delay:1ms from:#form-{% if form.instance.pk %}edit-{{ form.instance.pk }}{% else %}add-{{ type }}{% endif %}"
  hx-vals='js:{"message": document.getElementById("{{ form.title.id_for_label }}").value, "mode": "plain" }'
  hx-params="message, mode" style="white-space: pre;"></output>
{% bootstrap_field form.url %}
<p class="mb-2">{% translate "Url preview" %}</p>
<output class="w-100 border rounded mb-3 p-2 pre" for="{{ form.url.id_for_label }}"
  hx-post="{% url 'flows:preview' current_environment.slug flow.id %}" 
  hx-trigger="keyup delay:500ms from:#{{ form.url.id_for_label }}, load from:document, change from:#{{ form.url.id_for_label }}, reset delay:1ms from:#form-{% if form.instance.pk %}edit-{{ form.instance.pk }}{% else %}add-{{ type }}{% endif %}"
  hx-vals='js:{"message": document.getElementById("{{ form.url.id_for_label }}").value, "mode": "plain" }'
  hx-params="message, mode" style="white-space: pre;"></output>
<div class="row">
  <div class="col-lg-6">
    {% bootstrap_field form.body %}
  </div>
  <div class="col-lg-6 d-flex flex-column">
    <p class="mb-2">{% translate "Body preview" %}</p>
    <output class="w-100 border rounded mb-3 flex-grow-1 d-flex align-items-stretch p-1 pre" for="{{ form.body.id_for_label }}"
    hx-post="{% url 'flows:preview' current_environment.slug flow.id %}" 
    hx-trigger="keyup delay:500ms from:#{{ form.body.id_for_label }}, load from:document, change from:#{{ form.body.id_for_label }}, reset delay:1ms from:#form-{% if form.instance.pk %}edit-{{ form.instance.pk }}{% else %}add-{{ type }}{% endif %}"
    hx-vals='js:{"message": document.getElementById("{{ form.body.id_for_label }}").value, "mode": "plain" }'
    hx-params="message, mode" style="white-space: pre;"></output>
  </div>
</div>
{% include 'flows/steps/preview_context.html' %}