{% extends 'list.html' %}
{% load i18n %}

{% block breadcrumbds %}
{{ block.super }}
<li class="breadcrumb-item active" aria-current="page">{% translate "Channels" %}</li>
{% endblock breadcrumbds %}

{% block list-actions %}
<div class="dropdown mt-4">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="newChannel" data-bs-toggle="dropdown" aria-expanded="false">
    {% translate "New channel" %}
    </button>
    <ul class="dropdown-menu" aria-labelledby="newChannel">
        {% for content_type in new_channel_forms.keys %}
            <li>
                <a {% if content_type in channel_forms.keys %}
                    class="dropdown-item disabled" href="#" aria-disabled="true"
                    {% else %}
                    class="dropdown-item" data-bs-toggle="offcanvas" aria-expanded="false" href="#form-add-{{ content_type.model }}"
                    {% endif %}
                >
                    {{ content_type.name|title }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock list-actions %}

{% block colgroup %}<col class="col-10"><col class="col-2">{% endblock colgroup %}

{% block thead-tr %}<th>{% translate "Channel" %}</th>{% endblock thead-tr %}

{% block object-tr %}
<td>
    <a href="#" title="{% translate 'View' %}" class="text-decoration-none">
        {{ object }}   
    </a>
</td>
{% endblock object-tr %}

{% block object-actions %}
 <a title="{% translate 'Edit' %}" class="btn btn-sm btn-outline-primary" data-bs-toggle="offcanvas" aria-expanded="false" href="#form-edit-{{ object.pk }}">
    {% translate "Edit" %}
</a>
<button title="{% translate 'Remove' %}" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#delete-{{ object.pk }}" type="button">
    {% translate "Delete" %}
</button>
{% endblock object-actions %}

{% block empty-tr %}<td colspan="3" class="text-center fst-italic">{% translate "No channels found" %}</td>{% endblock empty-tr %}

{% block body-content %}
{{ block.super }}

{% for content_type, form in new_channel_forms.items %}
{% if content_type not in channel_forms.keys %}
<form class="offcanvas offcanvas-end w-75{{ form.show|yesno:' show,' }}" 
    tabindex="-1" aria-labelledby="form-add-{{ content_type.model }}-title" method="post" id="form-add-{{ content_type.model }}"
    action="{% url 'accounts:channel_create' content_type.model %}">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="form-add-{{ content_type.model }}-title">{% blocktranslate %}Add {{ name }} step{% endblocktranslate %}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="{% translate 'Close' %}"></button>
    </div>
    <div class="offcanvas-body">
        {% include "accounts/channels/"|add:content_type.model|add:".html" %}
        <button type="reset" class="btn btn-secondary" data-bs-dismiss="offcanvas">
            {% translate "Cancel" %}
        </button>
        <button type="submit" class="btn btn-primary">{% translate "Save" %}</button>
    </div>
    {% csrf_token %}
</form>
{% endif %}
{% endfor %}
{% for form in channel_forms.values %}
<form class="offcanvas offcanvas-end w-75{{ form.show|yesno:' show,' }}" 
    tabindex="-1" aria-labelledby="form-edit-{{ form.instance.pk }}-title" method="post" id="form-edit-{{ form.instance.pk }}"
    action="{% url 'accounts:channel_update' form.instance.pk %}">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="form-edit-{{ form.instance.pk }}-title">{% blocktranslate %}Add {{ name }} step{% endblocktranslate %}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="{% translate 'Close' %}"></button>
    </div>
    <div class="offcanvas-body">
        {% include "configuration/channels/"|add:form.instance.content_type.model|add:".html" %}
        <button type="reset" class="btn btn-secondary" data-bs-dismiss="offcanvas">
            {% translate "Cancel" %}
        </button>
        <button type="submit" class="btn btn-primary">{% translate "Save" %}</button>
    </div>
    {% csrf_token %}
</form>
{% url 'accounts:channel_remove' form.instance.pk as delete_url %}
{% with id_slug=form.instance.pk|slugify %}
{% include 'modal_delete.html' with object=form.instance modal_id='delete-'|add:id_slug %}
{% endwith %}
{% endfor %}
{% endblock body-content %}