{% extends 'base.html' %}
{% load i18n django_bootstrap5 static %}

{% block head-content %}
{{ block.super }}
<script type="module" src="{% static 'contacts/contact.js' %}"></script>
{% endblock head-content %}

{% block title %}{{ form.instance }} - {% translate "Contacts" %} - {{ current_environment }} - {{ block.super }}{% endblock title %}

{% block main-content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'contacts:list' current_environment.slug %}">{% blocktranslate %}{{ current_environment}} contacts{% endblocktranslate %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">
    {% if form.instance.pk %}{{ form.instance }}{% else %}{% translate "New contact" %}{% endif %}
  </li>
  </ol>
</nav>
{{ block.super }}
{% with instance_pk=form.instance.pk|default:'new' %}
<form method="post"  
  action="{% if form.instance.pk %}{% url 'contacts:contact_update' current_environment.slug contact.key%}{% else %}{% url 'contacts:contact_create' current_environment.slug %}{% endif %}" 
  class="contact">
  {% csrf_token %}
  <div class="row">
    <div class="col-md-4">
      <div class="card w-100">
        <div class="card-body">
          <div class="fs-1 text-center my-3">👤</div>
          {% bootstrap_field form.name %}
          {% bootstrap_field form.key %}
          {% bootstrap_field form.auth_key %}
        </div>
        <hr class="m-0">
        <div class="card-body">
          <h5 class="card-title">{% translate "Contact channels" %}</h5>
          <p class="card-text">
            {% translate "Enable channels for communicating with your contact." %}
            {% translate "Channel data must be configured in its own tab." %}
          </p>
          {% for checkbox in form.channels %}
          <div>{{ checkbox }}</div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs" role="tablist">
            <li class="nav-item">
              <button class="nav-link{% if not form.active_channel_tab %} active{% endif %}" id="tab-contact-data" data-bs-toggle="tab" data-bs-target="#contact-data" type="button" role="tab" aria-controls="contact-data" aria-selected="true">
                {% translate "Contact Data" %} {{ form.active_channel_tab }}
              </button>
            </li>
            <li class="nav-item">
              <button class="nav-link" id="tab-indexed-data" data-bs-toggle="tab" data-bs-target="#indexed-data" type="button" role="tab" aria-controls="indexed-data" aria-selected="false">
                {% translate "Indexed Data" %}
              </button>
            </li>
            {% for channel in form.channel_forms %}
            <li class="nav-item">
              <button class="nav-link  channel-{{ channel.pk }}{% if form.active_channel_tab == channel.pk %} active{% endif %}" id="tab-channel-{{ channel.pk }}" data-bs-toggle="tab" data-bs-target="#channel-{{ channel.pk }}" type="button" role="tab" aria-controls="channel-{{ channel.pk }}" aria-selected="false">
                {{ channel|title }}
              </button>
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="card-body tab-content" id="nav-tabContent">
          <div class="tab-pane{% if not form.active_channel_tab %} active{% endif %}" id="contact-data" role="tabpanel" aria-labelledby="tab-contact-data">
            <h5 class="card-title">{% translate "Contact data" %}</h5>
            <p class="card-text">
              {% translate "You can add arbitrary data to a contact in JSON format" %}
            </p>
            {% bootstrap_field form.contact_data %}
          </div>
          <div class="tab-pane" id="indexed-data" role="tabpanel" aria-labelledby="tab-indexed-data">
            <h5 class="card-title">{% translate "Indexed data" %}</h5>
            <p class="card-text">
              {% translate "Indexed data can be queried for creating segments." %}
              {% translate "You cand add up to 6 values." %}
            </p>
            <div class="row">
              <div class="col-lg-6">{% bootstrap_field form.index1 %}</div>
              <div class="col-lg-6">{% bootstrap_field form.index2 %}</div>
              <div class="col-lg-6">{% bootstrap_field form.index3 %}</div>
              <div class="col-lg-6">{% bootstrap_field form.index4 %}</div>
              <div class="col-lg-6">{% bootstrap_field form.index5 %}</div>
              <div class="col-lg-6">{% bootstrap_field form.index6 %}</div>
            </div>
          </div>
          {% for channel, channel_form in form.channel_forms.items %}
          <div class="tab-pane channel-{{ channel.pk }}{% if form.active_channel_tab == channel.pk %} active{% endif %}" id="channel-{{ channel.pk }}" role="tabpanel" aria-labelledby="tab-channel-{{ channel.pk }}">
            {% bootstrap_form channel_form %}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="text-end mb-3">
    <button type="submit" class="btn btn-primary">{% translate "Save" %}</button>
  </div>
</form>
{% endwith %}
{% endblock main-content %}