{% extends 'base.html' %}
{% load i18n static %}

{% block head-content %}
{{ block.super }}
<script type="module" src="{% static 'contacts/contact.js' %}"></script>
{% endblock head-content %}


{% block breadcrumbds %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">{% translate "Home" %}</a></li>
<li class="breadcrumb-item"><a href="{{ current_environment.get_absolute_url }}">{{ current_environment }}</a></li>
<li class="breadcrumb-item active" aria-current="page">{% translate "Contacts" %}</li>
{% endblock breadcrumbds %}

{% block body-content %}
{{ block.super }}
<div class="container">
    <p class="mt-4 text-right">
    	<button class="btn btn-secondary" type="button" data-bs-toggle="modal" data-bs-target="#modal-new">
    		{% translate "New contact" %}
    	</button>
    </p>
  	<div class="table-responsive">
		<table class="table table-hover">
            <colgroup>
                <col class="col-2">
                <col class="col-8">
                <col class="col-2">
            </colgroup>
            <thead>
                <tr>
                    <td>{% translate "Key" %}</td>
                    <td>{% translate "Name" %}</td>
                    <td></td>
                </tr>
            </thead>
			<tbody>
    			{% for contact in contact_list %}
    			<tr>
                    <td>{{ contact.key }}</td>
    				<td>
    					<a href="#" title="{% translate 'View' %}" class="text-decoration-none">
    						{{ contact }}	
    					</a>
    				</td>
    				<td class="text-nowrap text-end">
                        <div class="btn-group" role="group" aria-label="{% translate 'Actions' %}">
        					<a href="" title="{% translate 'Edit' %}" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modal-edit-{{ contact.key }}">
        						{% translate "Edit" %}
        					</a>
        					<button title="{% translate 'Remove' %}" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#modal-delete-{{ contact.key }}" type="button">
        						{% translate "Delete" %}
        					</button>
                        </div>
    				</td>
    			</tr>
                {% empty %}
                <tr>
                    <td colspan="3" class="text-center fst-italic">{% translate "No contacts found" %}</td>
                </tr>
    			{% endfor %}
    		</tbody>
		</table>
	</div>
</div>

<form method="post" 
    action="{% url 'contacts:contact_create' current_environment.slug %}"
    id="modal-new" 
    aria-labelledby="modal-new-title"
    class="modal contact" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modal-new-title">
                {% trans "New contact" %}
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% translate 'Close' %}"></button>
          </div>
          <div class="modal-body">{% include "contacts/contact_form.html" %}</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% translate "Cancel" %}</button>
            <button type="submit" class="btn btn-primary">{% translate "Create" %}</button>
          </div>
        </div>
    </div>
    {% csrf_token %}
</form>
{% for form in contact_forms %}
<form method="post" 
    action="{% url 'contacts:contact_update' current_environment.slug form.instance.key %}"
    id="modal-edit-{{ form.instance.key }}" 
    aria-labelledby="modal-edit-{{ form.instance.key }}-title"
    class="modal contact" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modal-edit-{{ form.instance.key }}-title">
                {% blocktranslate with contact=form.instance %}Edit contact {{ contact }}{% endblocktranslate %}
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% translate 'Close' %}"></button>
          </div>
          <div class="modal-body">{% include "contacts/contact_form.html" %}</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% translate "Cancel" %}</button>
            <button type="submit" class="btn btn-primary">{% translate "Update" %}</button>
          </div>
        </div>
    </div>
    {% csrf_token %}
</form>
<form method="post" 
    action="{% url 'contacts:contact_remove' current_environment.slug form.instance.key %}"
    id="modal-delete-{{ form.instance.key }}" 
    aria-labelledby="modal-delete-{{ form.instance.key }}-title"
    class="modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modal-delete-{{ form.instance.key }}-title">
                {% blocktranslate with contact=form.instance %}Delete contact {{ contact }}{% endblocktranslate %}
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% translate 'Close' %}"></button>
          </div>
          <div class="modal-body">
              {% translate "Are you sure?" %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% translate "Cancel" %}</button>
            <button type="submit" class="btn btn-danger">{% translate "Delete" %}</button>
          </div>
        </div>
    </div>
    {% csrf_token %}
</form>
{% endfor %}
{% endblock body-content %}