{% extends 'list.html' %}
{% load i18n static django_bootstrap5 %}

{% block title %}{% translate "Contacts" %} - {{ current_environment }} - {{ block.super }}{% endblock title %}

{% block main-content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">{% blocktranslate %}{{ current_environment}} contacts{% endblocktranslate %}</li>
  </ol>
</nav>
{{ block.super }}
{% endblock main-content %}

{% block list-actions %}
<a class="btn btn-secondary" href="{% url 'contacts:contact_create' current_environment.slug %}">{% translate "New contact" %}</a>
{% endblock list-actions %}


{% block table %}
<form method="GET" action="{{ request.path }}">
    {{ block.super }}
</form>
{% endblock table %}

{% block colgroup %}<col class="col-2"><col class="col-4"><col class="col-4"><col class="col-2">{% endblock colgroup %}

{% block thead-tr %}
<th>{% translate "Key" %}</th>
<th>{% translate "Name" %}</th>
<th>{% translate "Channels" %}</th>
{% endblock thead-tr %}

{% block tbody-top %}
<tr class="table-secondary">
    <td>
        {% bootstrap_field form.filter_key show_label=False wrapper_class='mb-0' server_side_validation=form.errors size='sm' %}
    </td>
    <td>
        {% bootstrap_field form.filter_name show_label=False wrapper_class='mb-0' server_side_validation=form.errors size='sm' %}
    </td>
    <td></td>
    <td class="text-end">
        <div class="btn-group" role="group" aria-label="{% translate 'Filtering' %}">
            <button type="submit" class="btn btn-primary btn-sm">{% translate "Search" %}</button>
            <a href="{{ request.path }}" class="btn btn-outline-primary btn-sm">
                {% translate "Reset" %}
            </a>
        </div>
    </td>
</tr>
{% endblock tbody-top %}


{% block object-tr %}
<td>{{ object.key }}</td>
<td>
    <a href="#" title="{% translate 'View' %}" class="text-decoration-none">
        {{ object }}   
    </a>
</td>
<td>
{% for channel in channels %}
    {% if channel.content_type.model in object.channel_data %}{{ channel }}{% endif %}
{% endfor %}
</td>
{% endblock object-tr %}

{% block object-actions %}
<a title="{% translate 'Edit' %}" class="btn btn-sm btn-outline-primary" href="{% url 'contacts:contact_update' current_environment.slug object.key %}">
    {% translate "Edit" %}
</a>
<button title="{% translate 'Remove' %}" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#delete-{{ object.key }}" type="button">
    {% translate "Delete" %}
</button>
{% endblock object-actions %}

{% block empty-tr %}<td colspan="4" class="text-center fst-italic">{% translate "No contacts found" %}</td>{% endblock empty-tr %}

{% block body-content %}
{% with channels=current_environment.site.channels.all %}
{{ block.super }}
{% endwith %}
{% if next_url %}
<nav class="container" aria-label="{% translate 'Contact list pagination' %}">
  <ul class="pagination justify-content-center">
    <li class="page-item">
        <a class="page-link" href="{{ next_url }}">
            {% translate "Next" %}
        </a>
    </li>
  </ul>
</nav>
{% endif %}
{% for contact in object_list %}
{% url 'contacts:contact_remove' current_environment.slug contact.key as delete_url %}
{% with key_slug=contact.key|slugify %}
{% include 'modal_delete.html' with object=contact modal_id='delete-'|add:key_slug %}
{% endwith %}
{% endfor %}
{% endblock body-content %}
