{% load i18n django_bootstrap5 %}
<nav>
  <div class="nav nav-tabs" role="tablist">
    <button class="nav-link active" id="tab-contact-data-new" data-bs-toggle="tab" data-bs-target="#contact-data-new" type="button" role="tab" aria-controls="contact-data-new" aria-selected="true">
    	{% translate "Contact data" %}
    </button>
    {% for channel in form.channel_forms %}
    <button class="nav-link  channel-{{ channel.pk }}" id="tab-channel-new-{{ channel.pk }}" data-bs-toggle="tab" data-bs-target="#channel-new-{{ channel.pk }}" type="button" role="tab" aria-controls="channel-new-{{ channel.pk }}" aria-selected="false"{% if  2 > 1 %} hidden{% endif %}>
    	{{ channel }}
    </button>
    {% endfor %}
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane active" id="contact-data-new" role="tabpanel" aria-labelledby="tab-contact-data-new">
  	<div class="row">
      <div class="col-6">{% bootstrap_field form.name %}</div>
      <div class="col-6">{% bootstrap_field form.key %}</div>
      <div class="col-12">
        <hr><h2 class="h5">{% translate "Indexed data" %}</h2>
        <p>
          {% translate "Indexed data can be queried for creating segments." %}
          {% translate "You cand add up to 6 values." %}
        </p>
      </div>
  		<div class="col-4">{% bootstrap_field form.index1 %}</div>
  		<div class="col-4">{% bootstrap_field form.index2 %}</div>
  		<div class="col-4">{% bootstrap_field form.index3 %}</div>
  		<div class="col-4">{% bootstrap_field form.index4 %}</div>
  		<div class="col-4">{% bootstrap_field form.index5 %}</div>
  		<div class="col-4">{% bootstrap_field form.index6 %}</div>
      <div class="col-12">
        <hr><h2 class="h5">{% translate "Contact channels" %}</h2>
        <p>
          {% translate "Enable channels for communicating with your contact." %}
          {% translate "Channel data must be configured in its own tab." %}
        </p>
      </div>
      {% for checkbox in form.channels %}
      <div class="col-4">{{ checkbox }}</div>
      {% endfor %}
  	</div>
  </div>
	{% for channel, channel_form in form.channel_forms.items %}
  <div class="tab-pane channel-{{ channel.pk }}" id="channel-new-{{ channel.pk }}" role="tabpanel" aria-labelledby="tab-channel-new-{{ channel.pk }}">
  	{% bootstrap_form channel_form %}
  </div>
  {% endfor %}
</div>