{% extends 'list.html' %}
{% load i18n %}

{% block main-content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
     <li class="breadcrumb-item">
        <a href="{% url 'flows:list' current_environment.slug %}">
            {% blocktranslate %}{{ current_environment}} flows{% endblocktranslate %}
        </a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        {% blocktranslate %}{{ flow }} runs{% endblocktranslate %}
    </li>
  </ol>
</nav>
{{ block.super }}
{% endblock main-content %}

{% block title %}{{ flow }} - {% translate "Flow runs" %} - {{ current_environment }} - {{ block.super }}{% endblock title %}

{% block colgroup %}
<col class="col-2">
<col class="col-2">
<col class="col-7">
<col class="col-1">
{% endblock colgroup %}

{% block thead-tr %}
<td>{% translate "Date" %}</td>
<td>{% translate "Contact" %}</td>
<td>{% translate "Identifier" %}</td>
{% endblock thead-tr %}

{% block object-tr %}
<td>{{ object.start|date:"SHORT_DATETIME_FORMAT"}}</td>
<td>
	{% if object.contact %}
	<a href="{% url 'contacts:contact_update' current_environment.slug object.contact.key %}" class="text-decoration-none">
		{{ object.contact }}
	</a>
	{% endif %}
</td>
<td class="w-100">
	<a href="{% url 'flows:run' current_environment.slug flow.id object.pk %}" title="{% translate 'View' %}" class="text-decoration-none">
		{{ object.pk }}	
	</a>
</td>
{% endblock object-tr %}

{% block object-actions %}
<a href="{% url 'flows:run' current_environment.slug flow.id object.pk %}" class="btn btn-outline-primary btn-sm">{% translate "View" %}</a>
{% endblock object-actions %}

{% block empty-tr %}
<td colspan="4" class="text-center fst-italic">{% translate "No flow runs found" %}</td>
{% endblock empty-tr %}