{% extends 'base.html' %}
{% load i18n %}

 {% block breadcrumbds %}
 <li class="breadcrumb-item"><a href="{% url 'home' %}">{% translate "Home" %}</a></li>
 <li class="breadcrumb-item"><a href="{{ current_environment.get_absolute_url }}">{{ current_environment }}</a></li>
 <li class="breadcrumb-item active" aria-current="page">{{ flow }}</li>
 {% endblock breadcrumbds %}

{% block body-content %}
{{ block.super }}
<div class="container">
	<div class="table-responsive">
		<table class="table table-hover">
			<colgroup>
		        <col class="col-2">
		        <col class="col-2">
		        <col class="col-7">
		        <col class="col-1">
		    </colgroup>
			<thead>
				<tr>
					<td>{% translate "Date" %}</td>
					<td>{% translate "Contact" %}</td>
					<td>{% translate "Identifier" %}</td>
					<td></td>
			</thead>
			<tbody>
    			{% for flow_run in object_list %}
    			<tr>
    				<td>{{ flow_run.start|date:"SHORT_DATETIME_FORMAT"}}</td>
    				<td>{{ flow_run.contact }}</td>
    				<td class="w-100">
    					<a href="{% url 'flows:run' current_environment.slug flow.id flow_run.pk %}" title="{% translate 'View' %}" class="text-decoration-none">
    						{{ flow_run.pk }}	
    					</a>
    				</td>
    				<td>
    					<a href="{% url 'flows:run' current_environment.slug flow.id flow_run.pk %}" class="btn btn-outline-primary btn-sm">{% translate "View" %}</a>
    				</td>
    			</tr>
    			{% empty %}
    			<tr>
    				<td colspan="4" class="text-center fst-italic">{% translate "No flow runs found" %}</td>
    			</tr>
    			{% endfor %}
    		</tbody>
		</table>
	</div>
</div>
{% endblock body-content %}