{% extends 'base.html' %}
{% load i18n django_bootstrap5 %}

{% block main-content %}
{{ block.super }}
<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-6">
			<form class="card" method="post" action="{% url 'login' %}">
  				<div class="card-body">
    				<h5 class="card-title">{% translate "Sign in" %}</h5>
					{% bootstrap_form form %}
					{% csrf_token %}
					<div class="text-end">
						<button type="submit" class="btn btn-primary">
							{% translate "Send" %}
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>	
</div>
{% endblock main-content %}