{% extends 'base.html' %}
{% load i18n %}

 {% block breadcrumbds %}
 <li class="breadcrumb-item"><a href="{% url 'home' %}">{% translate "Home" %}</a></li>
 <li class="breadcrumb-item"><a href="{% url 'pipelines:list' current_environment.slug %}">{{ current_environment }}</a></li>
 <li class="breadcrumb-item"><a href="{% url 'pipelines:edit' current_environment.slug object_list.first.id %}">{{ object_list.first }}</a></li>
 <li class="breadcrumb-item active" aria-current="page">{% translate "History" %}</li>
 {% endblock breadcrumbds %}



{% block body-content %}
{{ block.super }}
<div class="container">
	<div class="accordion" id="pipeline-history">
	{% for revision in object_list %}
	  <div class="accordion-item">
	    <h2 class="accordion-header" id="h-{{ revision.pk }}">
	      <button class="accordion-button{% if revision.pk != highlight %} collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#b-{{ revision.pk }}"{% if revision.pk == highlight %} aria-expanded="true"{% endif %} aria-controls="b-{{ revision.pk }}">
	      	<div class="d-flex w-100 justify-content-between pe-2">
	       		<span>	       			
	       			{% for environment in revision.environments.all %}
	       				<code class="small">[{{ environment }}]</code>
	       			{% endfor %}
	       			{{ revision.name }}
	       		</span>
	       		<small title="{% blocktranslate with pk=revision.pk %}Revision {{ pk }}{% endblocktranslate %}">{{ revision.user }} - {{ revision.date }}</small>
	       	</div>
	      </button>
	    </h2>
	    <div id="b-{{ revision.pk }}" class="accordion-collapse collapse{% if revision.pk == highlight %} show{% endif %}" aria-labelledby="h-{{ revision.pk }}" data-bs-parent="#pipeline-history">
	      <div class="accordion-body">
	        <ul>
	        	{% for step in revision.steps.all %}
	        		<li>{{ step }}</li>
	        	{% endfor %}
	        </ul>
	        {% if current_environment not in revision.environments.all %}
	        <form method="post" action="" class="text-end">
	        	{% csrf_token %}
	        	<button type="submit" class="btn btn-primary">
	        		{% trans "Use this version" %}
	        	</button>
	        </form>
	        {% endif %}
	      </div>
	    </div>
	  </div>
	{% endfor %}
	</div>
</div>
{% endblock body-content %}