{% extends 'base.html' %}
{% load i18n django_bootstrap5 %}

 {% block breadcrumbds %}
 <li class="breadcrumb-item"><a href="{% url 'home' %}">{% translate "Home" %}</a></li>
 <li class="breadcrumb-item"><a href="{% url 'pipelines:home' current_environment.slug %}">{{ current_environment }}</a></li>
 <li class="breadcrumb-item active" aria-current="page">{% translate "New pipeline" %}</li>
 {% endblock breadcrumbds %}

{% block body-content %}
{{ block.super }}
<div class="container">
	<h1>{% trans "New pipeline" %}</h1>
	<form class="card" action="{% url 'pipelines:new' current_environment.slug %}" method="post">
		{% csrf_token %}
		<div class="card-body">
			{% bootstrap_form form %}
			<button class="btn btn-primary" type="submit">{% trans "Create" %}</button>	
		</div>
	</form>
</div>
{% endblock body-content %}