{% extends 'base.html' %}
{% load i18n django_bootstrap5 %}

{% block body-content %}
{{ block.super }}
<div class="container">
	<h1>{% trans "Pipeline edit" %}</h1>
	<form class="card" action="{% url 'pipelines:edit' current_environment.slug pipeline.id %}" method="post">
		{% csrf_token %}
		<div class="card-body">
			{% bootstrap_form form %}
			<button class="btn btn-primary" type="submit">{% trans "Update" %}</button>	
		</div>
	</form>

	<div class="dropdown">
		<button class="btn btn-secondary dropdown-toggle" type="button" id="newStep" data-bs-toggle="dropdown" aria-expanded="false">
		{% translate "New step" %}
		</button>
  		<ul class="dropdown-menu" aria-labelledby="addStep">
		    {% for type, name in step_types %}
                <li>
                    <a class="dropdown-item" data-bs-toggle="modal" href="#modal-add-{{ type }}">
                        {{ name|title }}
                    </a>
                </li>
		    {% endfor %}
		</ul>
	</div>
</div>
{% for type, form in new_step_forms.items %}
{% include 'pipelines/steps/'|add:type|add:'_modal.html' with form=form %}
{% endfor %}
{% endblock body-content %}