{% extends 'base.html' %}
{% load i18n django_bootstrap5 static %}

{% block head-content %}
{{ block.super }}
<script type="module" src="{% static 'pipelines/email.js' %}"></script>
{% endblock head-content %}

 {% block breadcrumbds %}
 <li class="breadcrumb-item"><a href="{% url 'home' %}">{% translate "Home" %}</a></li>
 <li class="breadcrumb-item"><a href="{{ current_environment.get_absolute_url }}">{{ current_environment }}</a></li>
 <li class="breadcrumb-item"><a href="{% url 'pipelines:runs' current_environment.slug pipeline.id %}">{{ pipeline }}</a></li>
 <li class="breadcrumb-item active" aria-current="page">{% translate  "Edit" %}</li>
 {% endblock breadcrumbds %}



{% block body-content %}
{{ block.super }}
<div class="container">
	<h1>{% trans "Edit pipeline" %}</h1>
    <div class="row">
        <div class="col-md-4 order-md-last offset-md-2 mt-4">
            <div class="card">
                <div class="card-body">
                    <ul>
                        <li>{% translate "Name:" %} {{ pipeline }}</li>
                        <li>{% translate "Trigger:" %} {{ pipeline.trigger }}</li>
                        <li>{% translate "Updated:" %} {{ pipeline.date }}</li>
                    </ul>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-edit-pipeline">
                        {% translate "Change" %}
                    </button>
                </div>
            </div>
        	<div class="dropdown mt-4">
        		<button class="btn btn-secondary dropdown-toggle" type="button" id="addStep" data-bs-toggle="dropdown" aria-expanded="false">
        		{% translate "New step" %}
        		</button>
          		<ul class="dropdown-menu" aria-labelledby="addStep">
        		    {% for content_type in step_types %}
                        <li>
                            <a class="dropdown-item" data-bs-toggle="modal" href="#modal-add-{{ content_type.model }}">
                                {{ content_type.name|title }}
                            </a>
                        </li>
        		    {% endfor %}
        		</ul>
        	</div>
        </div>
        <div class="col-md-4 offset-md-2 mt-4">
            {% for form in step_forms %}
                <div class="card mb-1">
                    <form class="card-header d-flex align-items-center" method="post" action="{% url 'pipelines:step_move' current_environment.slug pipeline.id form.instance.pk %}">
                        <a class="text-decoration-none text-dark me-2 w-100" data-bs-toggle="modal" href="#modal-edit-{{ form.instance.pk }}">
                            {{ form.instance.content_type.name|title }}
                        </a>
                        <div class="btn-group font-monospace" role="group" aria-label="{% translate 'Step options' %}">
                            <button type="submit" class="btn btn-sm btn-outline-primary" title="{% translate 'Move up' %}" name="up" value="1"{{ forloop.first|yesno:' disabled,' }}>
                                ▲
                            </button>
                            <button type="submit" class="btn btn-sm btn-outline-primary" title="{% translate 'Move down' %}"{{ forloop.last|yesno:' disabled,' }}>
                                ▼
                            </button>
                            <a data-bs-toggle="modal" href="#modal-delete-{{ form.instance.pk }}" title="{% translate 'Delete' %}" class="btn btn-outline-danger btn-sm">
                                ❌
                            </a>
                        </div>
                        {% csrf_token %}
                    </form>
                    <a class="card-body text-decoration-none text-dark" data-bs-toggle="modal" href="#modal-edit-{{ form.instance.pk }}">
                        {{ form.instance }}
                    </a>
                </div>
                {% if not forloop.last %}<div class="mb-1 text-center">⬇️</div>{% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<form 
    action="{% url 'pipelines:edit' current_environment.slug pipeline.id %}" method="post"
    id="modal-edit-pipeline" 
    aria-labelledby="modal-edit-pipeline-title"
    class="modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modal-edit-pipeline-title">
                {% blocktranslate %}Change pipeline details{% endblocktranslate %}
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% translate 'Close' %}"></button>
          </div>
          <div class="modal-body">{% bootstrap_form form %}</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% translate "Cancel" %}</button>
            <button type="submit" class="btn btn-primary">{% translate "Update" %}</button>
          </div>
        </div>
    </div>
    {% csrf_token %}
</form>
{% for type, form in new_step_forms.items %}
<form method="post" 
	action="{% url 'pipelines:step_create' current_environment.slug pipeline.id type %}"
    id="modal-add-{{ type }}" 
  	aria-labelledby="modal-add-{{ type }}-title"
  	class="modal {{ type }}" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog modal-xl">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="modal-add-{{ type }}-title">
	            {% blocktranslate %}Add {{ type }} step{% endblocktranslate %}
	        </h5>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% translate 'Close' %}"></button>
	      </div>
          <div class="modal-body">{% include "pipelines/steps/"|add:type|add:".html" %}</div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% translate "Cancel" %}</button>
	        <button type="submit" class="btn btn-primary">{% translate "Add step" %}</button>
	      </div>
	    </div>
  	</div>
    {% csrf_token %}
</form>
{% endfor %}
{% for form in step_forms %}
<form method="post" 
    action="{% url 'pipelines:step_edit' current_environment.slug pipeline.id form.instance.pk %}"
    id="modal-edit-{{ form.instance.pk }}" 
    aria-labelledby="modal-edit-{{ form.instance.pk }}-title"
    class="modal {{ form.instance.content_type.model }}" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modal-edit-{{ form.instance.pk }}-title">
                {% blocktranslate with type=form.instance.content_type.name %}Edit {{ type }} step{% endblocktranslate %}
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% translate 'Close' %}"></button>
          </div>
          <div class="modal-body">{% include "pipelines/steps/"|add:form.instance.content_type.model|add:".html" %}</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% translate "Cancel" %}</button>
            <button type="submit" class="btn btn-primary">{% translate "Update" %}</button>
          </div>
        </div>
    </div>
    {% csrf_token %}
</form>
<form method="post" 
    action="{% url 'pipelines:step_remove' current_environment.slug pipeline.id form.instance.pk %}"
    id="modal-delete-{{ form.instance.pk }}" 
    aria-labelledby="modal-delete-{{ form.instance.pk }}-title"
    class="modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modal-delete-{{ form.instance.pk }}-title">
                {% blocktranslate %}Delete {{ form.instance.content_type.name }} step{% endblocktranslate %}
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% translate 'Close' %}"></button>
          </div>
          <div class="modal-body">
              {% translate "Are you sure?" %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% translate "Cancel" %}</button>
            <button type="submit" class="btn btn-danger">{% translate "Delete" %}</button>
          </div>
        </div>
    </div>
    {% csrf_token %}
</form>
{% endfor %}
{% endblock body-content %}