{% extends 'list.html' %}
{% load i18n django_bootstrap5 %}

{% block breadcrumbds %}
{{ block.super }}
<li class="breadcrumb-item active" aria-current="page">{{ current_environment }}</li>
{% endblock breadcrumbds %}

{% block list-actions %}
<a class="btn btn-primary" data-bs-toggle="modal" href="#modal-create-flow">{% translate "New flow" %}</a>
{% endblock list-actions %}

{% block colgroup %}
<col class="col-2">
<col class="col-4">
<col class="col-4">
<col class="col-2">
{% endblock colgroup %}

{% block thead-tr %}
<th>{% translate "Trigger" %}</th>
<th>{% translate "Name" %}</th>
<th>{% translate "Updated" %}</th>
{% endblock thead-tr %}


{% block object-tr %}
<td>{{ object.trigger }}</td>
<td>
  <a href="{% url 'flows:runs' current_environment.slug object.id %}" title="{% translate 'View' %}" class="text-decoration-none">
    {{ object }}  
  </a>
</td>
<td title="{{ object.date }}">
  {{ object.date|date:"SHORT_DATE_FORMAT" }} - {{ object.user}}
</td>
{% endblock object-tr %}

{% block object-actions %}
<a href="{% url 'flows:edit' current_environment.slug object.id %}" class="btn btn-sm btn-outline-primary">
  {% translate 'Edit' %}
</a>
<a href="{% url 'flows:history' current_environment.slug object.id %}"  class="btn btn-sm btn-outline-info">
  {% translate 'History' %}
</a>
<button type="button" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#delete-{{ object.id.hex }}">
  {% translate 'Remove' %}
</button>
{% endblock object-actions %}

{% block empty-tr %}<td colspan="4" class="text-center fst-italic">{% translate "No flows found" %}</td>{% endblock empty-tr %}

{% block body-content %}
{{ block.super }}
<form
    action="{% url 'flows:create' current_environment.slug %}" method="post"
    id="modal-create-flow" 
    aria-labelledby="modal-create-flow-title"
    class="modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modal-create-flow-title">
                {% blocktranslate %}Create new flow{% endblocktranslate %}
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% translate 'Close' %}"></button>
          </div>
          <div class="modal-body">{% bootstrap_form flow_form %}</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% translate "Cancel" %}</button>
            <button type="submit" class="btn btn-primary">{% translate "Save" %}</button>
          </div>
        </div>
    </div>
    {% csrf_token %}
</form>

{% for flow in object_list %}
{% url 'flows:remove' current_environment.slug flow.id as delete_url %}
{% include 'modal_delete.html' with object=flow modal_id='delete-'|add:flow.id.hex %}
{% endfor %}

{% endblock body-content %}