{% extends 'base.html' %}
{% load i18n %}

{% block breadcrumbds %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">{% translate "Home" %}</a></li>
<li class="breadcrumb-item"><a href="{{ current_environment.get_absolute_url }}">{{ current_environment }}</a></li>
<li class="breadcrumb-item"><a href="{% url 'pipelines:runs' current_environment.slug pipeline.id %}">{{ pipeline }}</a></li>
<li class="breadcrumb-item active" aria-current="page">{{ pipeline_run }}</li>
{% endblock breadcrumbds %}

{% block body-content %}
{{ block.super }}
<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="card mb-3">
        <h5 class="card-header">{% translate "Run information" %}</h5>
        <div class="card-body">
          <dl>
            <dt>{% translate "Contact" %}</dt>
            <dd><a href="">{{ pipeline_run.contact }}</a></dd>
            <dt>{% translate "Pipeline revision" %}</dt>
            <dd>
              <a href="{% url 'pipelines:history' pipeline_run.environment.slug pipeline_run.pipeline_id pipeline_run.pipeline_revision.pk %}#h-{{ pipeline_run.pipeline_revision.pk }}">
                {{ pipeline_run.pipeline_revision.pk }}
              </a>
            </dd>
          </dl>
        </div>
      </div>
      <div class="card mb-3">
        <h5 class="card-header">{% translate "Event payload" %}</h5>
        <div class="card-body">
          <code>
            {{ pipeline_run.event_payload }}
          </code>
        </div>
      </div>
      <div class="card mb-3">
        <h5 class="card-header">{% translate "Pipeline data" %}</h5>
        <div class="card-body">
          <code>
            {{ pipeline_run.pipeline_data }}
          </code>
        </div>
      </div>
    </div>
    <div class="col-8">
      <dl>
        {% for log in pipeline_run.get_logs %}
        <dt>
          <span title="{{ log.date|date:'c' }}">{{ log.date|date:"SHORT_DATETIME_FORMAT" }}</span>
          <span class="text-{% if log.level == log.DEBUG %}muted{% elif log.level == log.INFO %}info{% elif log.level == log.WARNING %}warning{% elif log.level == log.ERROR %}danger{% endif %}">
            {{ log.level }}
          </span>
        </dt>
        <dd>{{ log.message }}</dd>
        {% endfor %}
      </dl>
    </div>
  </div>
</div>
{% endblock body-content %}