{% extends 'base.html' %}
{% load i18n %}

{% block breadcrumbds %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">{% translate "Home" %}</a></li>
<li class="breadcrumb-item"><a href="{{ current_environment.get_absolute_url }}">{{ current_environment }}</a></li>
<li class="breadcrumb-item"><a href="{% url 'pipelines:runs' current_environment.slug pipeline.id %}">{{ pipeline }}</a></li>
<li class="breadcrumb-item active" aria-current="page">{{ pipeline_run }}</li>
{% endblock breadcrumbds %}

{% block body-content %}
{{ block.super }}
<div class="container">
    <div class="card">
      <h5 class="card-header">{% translate "Event payload" %}</h5>
      <div class="card-body">
        {{ pipeline_run.event_payload }}
      </div>
    </div>
    <div class="card">
      <h5 class="card-header">{% translate "Pipeline data" %}</h5>
      <div class="card-body">
        {{ pipeline_run.pipeline_data }}
      </div>
    </div>
</div>
<div class="container">
  <ul>
      {% for log in pipeline_run.get_logs %}
      <li>{{ log }}</li>
      {% endfor %}

  </ul>
</div>
{% endblock body-content %}