{% load i18n django_bootstrap5 %}<!doctype html>
<html lang="en">
  <head>
    {% block head-content %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous" async></script>
    <title>{% block title %}Informer{% endblock title %}</title>
    {% endblock head-content %}
  </head>
  <body>
    {% block body-content %}
    <header>
    {% block header-content %}
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          {% if current_site %}
          <a class="navbar-brand" href="{% url 'home' %}">{{ current_site }} <i class="fs-6 text-secondary

">Informer</i></a>
          {% else %}
          <a class="navbar-brand" href="{% url 'home' %}">☎️ Informer</a>
          {% endif %}
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="{% translate 'Toggle navigation' %}">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% if user.is_authenticated %}         
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="environmentSelector" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ current_environment|default:_("Environments") }}
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="environmentSelector">
                    {% for environment in request.site.environments.all %}
                      <li>
                        <a class="dropdown-item" href="{% url 'flows:list' environment.slug %}">
                          {{ environment }}
                        </a>
                      </li>
                    {% endfor %}
                    {% if request.site.environments.exists %}
                      <li><hr class="dropdown-divider"></li>
                    {% endif %}
                    <li>
                      <a class="dropdown-item" href="{% url 'accounts:environment_list' %}">
                        {% trans "Manage…" %}
                      </a>
                    </li>
                  </ul>
                </li>
                {% if current_environment %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'flows:list' current_environment.slug %}">{% trans "Flows" %}</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'contacts:list' current_environment.slug %}">{% trans "Contacts" %}</a>
                </li>
                {% endif %}
              </ul>
              <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="accountSettings" role="button" data-bs-toggle="dropdown" aria-expanded="false" title="{% translate 'Account' %}">
                    {{ user.first_name }}
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="environmentSelector">
                    <li>
                      <a class="dropdown-item" href="{% url 'accounts:channel_list' %}">
                        {% trans "Channels" %}
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="{% url 'accounts:environment_list' %}">
                        {% trans "Environments" %}
                      </a>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                      <form method="post" action="{% url 'logout' %}">
                        <button type="submit" class="dropdown-item">{% trans "Logout" %}</button>
                        {% csrf_token %}
                      </form>
                    </li>
                  </ul>
                </li>
              </ul>
            {% endif %}
          </div>
        </div>
      </nav>
    {% endblock header-content %}</header>
    <div class="container mt-2">
      <div class="row">
        <nav class="col-md-2 bg-light">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Active</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Dropdown</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Separated link</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">Disabled</a>
            </li>
          </ul>
        </nav>
        <div class="col-md-10">
          content {% lorem 5 %}
        </div> 
      </div>
      {% bootstrap_messages %}
    </div>
    {% endblock body-content %}
  </body>
</html>