{% load i18n django_bootstrap5 static %}<!doctype html>
<html lang="en" class="h-100">
  <head>
    {% block head-content %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'bootswatch/dist/sandstone/bootstrap.min.css' %}" rel="stylesheet" crossorigin="anonymous">
    <script>
      var _rollbarConfig = {
          accessToken: "{{ ROLLBAR_CLIENT_TOKEN|escapejs }}",
          captureUncaught: true,
          captureUnhandledRejections: true,
          payload: {
              environment: "{{ ROLLBAR_ENVIRONMENT|escapejs }}",
              client: {
                  javascript: {
                      code_version: "{{ ROLLBAR_CODE_VERSION|escapejs }}",
                  }
              }
          }
      };
    </script>
    <script src="https://cdn.rollbar.com/rollbarjs/refs/tags/v2.26.1/rollbar.min.js" async></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.bundle.min.js' %}" crossorigin="anonymous" async></script>
    <title>{% block title %}Informer{% endblock title %}</title>
    {% endblock head-content %}
  </head>
  <body class="h-100 d-flex flex-column">
    {% block body-content %}
    <header>
    {% block header-content %}
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
          <a class="navbar-brand" href="{% url 'home' %}">{{ request.site.name }} <i class="fs-6 text-secondary">Informer</i></a>
          {% if user.is_authenticated %}
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="{% translate 'Toggle navigation' %}">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle{% if request.resolver_match.url_name == 'environment_list' or current_environment %} active{% endif %}" href="#" id="environmentSelector" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ current_environment|default:_("Environments") }}
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="environmentSelector">
                    {% for environment in request.site.environments.all %}
                      <li>
                        <a class="dropdown-item" href="{% url 'flows:list' environment.slug %}">
                          {{ environment }}
                        </a>
                      </li>
                    {% endfor %}
                    {% if request.site.environments.exists %}
                      <li><hr class="dropdown-divider"></li>
                    {% endif %}
                    <li>
                      <a class="dropdown-item" href="{% url 'accounts:environment_list' %}">
                        {% trans "Manage…" %}
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link{% if request.resolver_match.url_name == 'channel_list' %} active{% endif %}" aria-current="page" href="{% url 'accounts:channel_list' %}">
                    {% trans "Channels" %}
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="#users">
                    {% trans "Users" %}
                  </a>
                </li>
              </ul>
              <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="accountSettings" role="button" data-bs-toggle="dropdown" aria-expanded="false" title="{% translate 'Account' %}">
                    {{ user.first_name }}
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="environmentSelector">
                    <li>
                      <a class="dropdown-item" href="#">
                        {% trans "Billing" %}
                      </a>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                      <form method="post" action="{% url 'logout' %}">
                        <button type="submit" class="dropdown-item">{% trans "Logout" %}</button>
                        {% csrf_token %}
                      </form>
                    </li>
                  </ul>
                </li>
              </ul>
          </div>
          {% endif %}
        </div>
      </nav>
    {% endblock header-content %}</header>
    {% if current_environment %}
    <div class="container mt-2 mb-5">
      <div class="row">
        <nav class="col-md-2 bg-light py-3">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link{% if request.resolver_match.app_name == 'stats' %} active{% endif %}" href="{% url 'stats:dashboard' current_environment.slug %}">
                🌡️ {% trans "Dashboard" %}
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link{% if request.resolver_match.app_name == 'flows' %} active{% endif %}" href="{% url 'flows:list' current_environment.slug %}">
                ⏭️ {% trans "Flows" %}
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link{% if request.resolver_match.app_name == 'contacts' %} active{% endif %}" href="{% url 'contacts:list' current_environment.slug %}">
                👤 {% trans "Contacts" %}
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link{% if request.resolver_match.app_name == 'inbox' %} active{% endif %}" href="{% url 'inbox:list' current_environment.slug %}">
                📥 {% trans "Inboxes" %}
              </a>
            </li>
          </ul>
        </nav>
        <div class="col-md-10">
    {% endif %}
          {% block main-content %}{% bootstrap_messages %}{% endblock main-content %}
    {% if current_environment %}
        </div> 
      </div>
    </div>
    {% endif %}
    {% block footer %}
    <footer class="bg-dark py-3 mt-auto">
      <div class="container text-light text-end">Build {{ BUILD_VERSION }}</div>
    </footer>
    {% endblock footer %}
    {% endblock body-content %}
  </body>
</html>