{% extends 'base.html' %}
{% load i18n django_bootstrap5 %}

{% block header-content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}">☎️ Informer</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="{% translate 'Toggle navigation' %}">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <a class="ms-auto btn btn-primary" href="{% url 'login' %}">{% translate "Sign in" %}</a>
      </div>
    </div>
</nav>
{% endblock header-content %}

{% block main-content %}
<div class="container mb-5">
  <p>Hello there</p>
  <div class="col-md-6 offset-md-3">
    <div class="ratio ratio-16x9 text-center">
      <iframe  src="https://www.youtube.com/embed/7vy7fbPEfpc?controls=0&autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>
{% endblock main-content %}